/* @import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Rampart+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Miltonian&family=Rampart+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    /* background-color: #121212; */
    /* color: white; */
}

::-webkit-scrollbar {
    display: none;
}
